/* Styles for class Header */
@font-face {
  font-family: Rubik;
  /*  src: url("../fonts/RubikMonoOne-Regular.ttf"); */
}
.header {
  border: 1px solid #003300;
}
.header__search {
  border: 1px solid #003300;
}
.header__search__title {
  border: 1px solid #003300;
}
.header__search__form {
  border: 1px solid #003300;
}

/*# sourceMappingURL=header.css.map */
