/* components TODO maybe these components and containers I should move to pages */
/* Like components for all pages */
.search__input input {
  background-color: #eeefef;
  color: #333;
  font-size: 16px;
}

/* /components */
/* containers */
/* Styles for class Header */
@font-face {
  font-family: Rubik;
  /*  src: url("../fonts/RubikMonoOne-Regular.ttf"); */
}
.post__item {
  /*min-width       : 250px;*/
  margin-bottom: 15px;
}
.post__item:hover {
  transform: translate(1px, -1px);
  transition: width 2s;
}

.feed {
  margin: 2%;
  display: flex;
}

.feed_module {
  display: flex;
  justify-content: space-evenly;
}

/* /containers */
/* pages */
/* /pages */

/*# sourceMappingURL=main.css.map */
